body {
	background-color: #6495ED;
}

footer{
	text-align: center;
	position: fixed;
    bottom: 0;
    width: 100%;
}

a.btn{
	background-color: #FF7F50;
}

.course{
	background-color: #FF7F50;
	border-collapse:collapse;
	margin: 0px;
	border-radius: 5px;
}
