extends layout

block content
	#banner.page-header
		.row
			.col-med-2
				h1 Course Organizer
					small &nbsp; All your assignments in one place!
	.row
		.col-xs-12.col-sm-8
			.row.list-group
				.col-xs-12.list-group-item(style="background-color:#FFFFFF;color:#000000;")
					h4
						a(href="/course") MATH-335
						small &nbsp; Ashlyn Munson
					p Introduction to Statistics
				.col-xs-12.col-sm-4
				p
				p
				.col-xs-12.list-group-item(style="background-color:#FFFFFF;color:#000000;")
					h4
						a(href="/course") CSCI-446
						small &nbsp; Cyndi Rader
					p Web Applications
				.col-xs-12.col-sm-4