extends layout

block content
	.row.page-header
		.col-lg-12
			h1 Your Assignment for #{courseId}
	.row
		.col-xs-12.col-md-6
			form.form-horizontal(action="", method="post", role="form")
				- if (error == "val1")
					.alert.alert-danger(role="alert") Missing required field, please try again
				- if (error == "val2")
					.alert.alert-danger(role="alert") Points must be between 0 and 100
				
				.form-group
					label.col-xs-10.col-sm-2.control-label(for="name") Name
					.col-xs-12.col-sm-10
						input#name.form-control(name="name")
				.form-group
					label.col-xs-10.col-sm-2.control-label(for="description") Description
					.col-xs-12.col-sm-10
						input#name.form-control(name="description")						
				.form-group
					label.col-xs-10.col-sm-2.control-label(for="due") Due
					.col-xs-12.col-sm-10
						input#name.form-control(name="due")
				.form-group
					label.col-xs-10.col-sm-2.control-label(for="points") Points
					.col-xs-12.col-sm-10
						input#points.form-control(name="points")							
				.form-group
					label.col-xs-10.col-sm-2.control-label(for="status") Status
					.col-sm-4.col-sm-2
						select#rating.form-control.input-sm(name="status")
							Option Haven't started
							Option In Progress
							Option Completed
							Option Submitted
				button.btn.btn-default.pull-right Submit
			.col-xs-12.col-md-4